    <video width="800" height="600" id="bgvid" playsinline autoplay muted loop>
        <source src="http://server.apartaments/file.mp4" type="video/mp4">
    </video>
<div class="landing-header-video-container">
    <div class="landing-header-heading-container">
        <div class="landing-header-heading-container-vertical">
            <p class="heading-heading">Апартаменты</p>
            <p class="heading-city">Хабаровска</p>
            <p class="heading-number">+7(909)-823-08-07</p>
            <div class="button-booking-container">
                <div class="button-booking">Забронировать номер ></div>
            </div>
            <div class="booking-widget">
                <div class="booking-widget-element">
                    <label>Заезд</label>
                    <input type="date">
                </div>
                <div class="booking-widget-element">
                    <label>Выезд</label>
                    <input type="date">
                </div>
                <div class="booking-widget-element">
                    <label>Взрослых</label>
                    <input type="number" value="1" min="1">
                </div>
                <div class="booking-widget-element">
                    <label>Детей</label>
                    <input type="number" value="0" min="0">
                </div>
                <div class="booking-widget-element">
                    <label>&nbsp;</label>
                    <button>Подобрать номер</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="landing-gis-container">
    здесь будет виджет яндекса
</div>
<div class="landing-apartaments-container">
    <div class="landing-apartaments-container-vertical">
        <p class="landing-apartaments-header">Апартаменты</p>
        <div class="landing-apartaments-button-container">
            <button>Забронировать</button>
        </div>
    </div>
</div>
<div class="landing-about-container">
    <div class="landing-about-container-vertical">
        <p class="landing-apartaments-header">О нас</p>
        <p class="landing-about-text">Все чаще и чаще, приезжая в наш город по делам или на отдых, люди предпочитают снимать квартиру в Хабаровске. Если это Ваш выбор, то мы рекомендуем именно посуточную аренду квартир. Снимая квартиру посуточно в Хабаровске вы получаете сервис отеля в сочетании со свободой и комфортом квартиры. Аренда квартиры в Хабаровске позволит Вам ни от кого не зависеть, приходить и уходить из вашего жилища когда захотите, готовить здоровую еду.. Если Вы хотите полностью погрузиться в атмосферу нашего города, цените чистоту и высокий уровень сервиса, то посуточная аренда квартир в Хабаровске от компании «Апартаменты посуточно «Хабаровск» станет Вашим прекрасным выбором для проживания в Хабаровске на любой период.
            Наши квартиры оснащены всем для комфортного проживания: чистая ванная комната, полностью оборудованная кухня со всеми необходимыми приборами и посудой, удобное спальное место, интернет. Посуточная аренда квартир в Хабаровске от нашей компании — это не просто практичное решение проблемы «где переночевать», но и полноценный отдых в уютной домашней обстановке.</p>
    </div>
</div>
<div class="landing-contacts-container">
    <div class="landing-contacts-container-vertical">
        <p class="landing-apartaments-header">Контакты</p>
    </div>
</div>